$colors: (
  primary-color: #fbb03b,
  secondary-color: #ff0000,
  text-primary: #fbb03b,
  text-color: #333333,
  white: #ffffff,
  orange-milk: #fff3df,
);

$font-size: (
  font-xs: 12px,
  font-sm: 14px,
  font-md: 16px,
  font-md-2: 18px,
  font-md-3: 20px,
  font-lg: 24px,
  font-xl: 32px,
  font-xxl: 72px,
);

$font-family-primary: "Poppins", sans-serif;

$font-weight: (
  weight300: 300,
  weight400: 400,
  weight700: 700,
);

