.btn {
  display: inline-block;
  height: 48px;
  padding: 14px 20px;
  font-size: 13px;
  font-weight: map-get($font-weight, weight700);
  color: map-get($colors, text-color);
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
}

.btn-primary {
  background-color: map-get($colors, primary-color);
  width: 175px;
  height: 47px;
  border-radius: 56px;
}

.btn-secondary {
  background-color: map-get($colors, white);
}

@include responsive-below($mobile) {
  .btn-secondary {
    height: 20px;
    padding: 3px 9px;
    font-size: 10px;
  }
}
